* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.all_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.all_box .header {
  width: 100%;
  height: 50px;
  background: #CCCCCC;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.all_box .header .all {
  color: coral;
}

.all_box .box {
  width: 100%;
  flex: 1;
  background: red;
}

.all_box .box .l {
  float: left;
  height: 100%;
}

.all_box .box .left {
  width: 40%;
  background: #eee;
}

.all_box .box .left .more {
  width: 80%;
  margin: 20px auto;
}

.all_box .box .left .more input,
.all_box .box .left .more .sel {
  width: 100%;
  margin-bottom: 20px;
}

.all_box .box .left .btn {
  border: 1px solid coral;
  margin: 20px auto;
  width: 80%;
  display: flex;
}

.all_box .box .left .btn button {
  flex: 1;
  border: 0;
  background: #FFF;
}

.all_box .box .left .btn .btt {
  background: coral;
  color: #FFF;
}

.all_box .box .right {
  width: 58%;
  border-left: 1px solid #CCCCCC;
}

.all_box .box .right table tr {
  background: white;
}

.all_box .box .right table tr:nth-child(even) {
  background: #eeeeee;
}
